@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Bungee+Inline&family=Fredericka+the+Great&family=Herr+Von+Muellerhoff&family=Kristi&family=Qwigley&family=Rubik+Moonrocks&family=Rye&family=Yesteryear&Akronim&family=Big+Shoulders+Inline+Text:wght@100&family=Codystar:wght@300&family=Fascinate+Inline&family=Londrina+Outline&family=Molle&family=Monofett&family=Piedra&family=Press+Start+2P&family=Raleway+Dots&family=Rubik+Gemstones&family=Rubik+Storm&family=Vast+Shadow&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
  --shadowBlack: #1B1610;
  --ebony: #080402;
  --stainlessSteel: #CFD4D9;
  --smokyBlack: #100C08;
  --Licorice: #1A1110;
  --coolBlack: #151922;
  --midNight: #040406;
  --lightBrownish: #CB997E;
  --lighterBrownish: #DDBEA9;
  --lightLemon: #90B20B;
  --treasureColor: #313C05;
  --darkLemon: #161B02;
  --boxShadow: 0.1rem 0.3rem rgba(0, 0, 0, .1);
}

.forms {
  background-color: rgba(22, 27, 2, .33);
  box-shadow: 0px 8px 32px 0 rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(5px);
  padding: 0 16px 16px 16px;
  border-radius: 16px;
}

.bigSingleLetter {
  font-size: 3rem;
  color: var(--stainlessSteel);
  background-color: var(--darkLemon);
  width: 50%;
  border-radius: 10%;
}

.Border25 {
  border-bottom: 2px solid var(--darkLemon);
  margin: auto;
  padding: 0 1rem;
  margin: 0;
}

.DarkBorderTop-1 {
  border-top: 1px solid var(--darkLemon);
}

.DarkBorderBottom-2 {
  border-bottom: 2px solid var(--darkLemon);
}

.LightBorderBottom-2 {
  border-bottom: 2px solid var(--stainlessSteel);
}

.names {
  font-size: 1rem;
  color: var(--stainlessSteel);
}

.Logo {
  padding: .4rem;
  font-size: larger;
  border-radius: 1rem;
  border: 0.1rem solid var(--lightLemon);
  margin: auto;
}

.FloatRight {
  float: right !important;
}

.Cursored {
  cursor: pointer;
}

.DarkGreen {
  color: var(--darkLemon) !important;
}

.Treasure {
  font-family: 'Bowlby One SC', sans-serif;
  color: var(--stainlessSteel);
}

.Kitchen {
  font-family: 'Herr Von Muellerhoff', sans-serif;
  font-size: 2rem;
  color: var(--lightLemon);
}

.MenuName {
  font-family: 'Bungee Inline', sans-serif !important;
  color: var(--stainlessSteel) !important;
}

.App {
  min-height: 100vh;
  color: var(--shadowBlack);
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, .2); */
}

.TreasureText {
  color: var(--treasureColor);
}

.NavigationBar {
  margin: 0;
  padding: 0;
  background-color: var(--darkLemon) !important;
  color: var(--lighterBrownish) !important;
  min-height: 10vh;
}

.OffCanvas {
  background: rgba(22, 27, 2, 0.25) !important;
  backdrop-filter: blur(30px) !important;
}

.PaddingTop {
  padding-top: 5rem;
}

.AppHeading {
  font-size: 4rem;
}

.CartButton {
  position: fixed;
  bottom: 0.6rem !important;
  right: 1rem !important;
  z-index: 50;
}

.LinkToButton {
  background: var(--darkLemon);
  color: var(--stainlessSteel);
  text-decoration: none;
  cursor: pointer;
  padding: .7rem 1rem;
  font-weight: bold;
  border-radius: .3rem;
}

.ButtonToLink {
  background: transparent !important;
  outline: none !important;
  color: blue !important;
  text-decoration: underline !important;
  border: none !important;
  padding: 0 5px !important;
  margin: 0 !important;
}

.ButtonToLinkNoColor {
  background: transparent !important;
  outline: none !important;
  text-decoration: underline !important;
  border: none !important;
  padding: 0 5px !important;
  margin: 0 !important;
}

.MinHeightthOne {
  min-height: 3rem;
}

.UnderLine {
  border: 0.1rem solid var(--darkLemon); 
  margin-bottom: 2rem !important;
  background: var(--shadowBlack);
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba((0), 0, 0, .2);
}

.imageOverlay {
  background-size: cover;
  min-height: 90vh;
}

.BoxShadow {
  box-shadow: -24px 32px 63px -21px rgba(0,0,0,0.67);
-webkit-box-shadow: -24px 32px 63px -21px rgba(0,0,0,0.67);
-moz-box-shadow: -24px 32px 63px -21px rgba(0,0,0,0.67);
}

.BtnColor {
  background-color: var(--darkLemon) !important;
}

.loginButton {
  color: var(--stainlessSteel);
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.noOutline {
  outline: none !important;
  border: none !important;
}

.dropdown-item:hover {
  background: transparent !important;
}

.google {
  background-color: #df4930;
}

.facebook {
  background-color: #507cc0;
}

.twitter {
  background-color: #00acee;
}

.DeLink {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  outline: none !important;
  cursor: pointer;
}

@media (max-width: 768px) {
  .App {
    min-height: 100vh;
  }

.AppHeading {
    font-size: calc(1.525rem + 3.3vw);
  }
}

.FedericaFont {
  font-family: 'Fredericka the Great', sans-serif;
}

.Heading {
  font-family: 'Bungee Inline', sans-serif;
  text-align: center;
  font-size: 7vw;
  color: var(--darkLemon);
  padding: 2rem 0;
}

.SmallFont {
  font-size: .8rem;
}

/* Images */
.DishImageH {
  width:  8rem;
  height: 12rem;
  object-fit:scale-down;
}

/* Tracks: Timeline */

.timeline-section {
  min-height: 100vh;
}

.timeline-items {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}

.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}

.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
}

.timeline-dot {
  width: 16px;
  height: 16px;
  background-color: var(--darkLemon);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}

.timeline-date {
  font-size: 18px;
  color: var(--darkLemon);
  margin: 6px 0 15px;
}

@media(max-width: 767px){

  .timeline-items::before {
    left: 7px;
  }
  
  .timeline-item:nth-child(odd){
    text-align: left;
    padding-right: 0;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }
}
/* ENDS */

/*STARTS: Styling for responsive list display*/
.housing {
  max-width: 1300px;
  width: 100%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex: 0 0 calc(33.33% - 1rem);
  max-width: calc(33.33% - 1rem);
  width: 100%;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}

.item-2 {
  flex: 0 0 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  width: 100%;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 969px) {
  section {
    padding: 1rem 0rem;
  }

  .item {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media(max-width: 600px) {
  .item, .item-2 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*ENDS*/

/* React Multi Date Time Picker Styles */
.custom-input {
  border-radius: 0.4rem;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  padding: 1.1rem 2.5rem;
  background-color: white;
  height: 100%;
  width: 100%;
}

.custom-input:focus {
  outline: none;
}

/* ENDS */

@media(max-width: 767px){
  .Heading {
      font-size: 12vw;
  }
}

@media (max-width: 576px){
  .Heading {
      font-size: 12vw;
  }
}

/* Draw over */
.Box {
  overflow: hidden;
  position: relative;
}

.Box:hover  {
  .content {
    transform: translateY(0);
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--darkLemon);
  display: flex;
  flex-flow: column;
  color: var(--stainlessSteel);
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transform: translateY(-100%);
  transition: .2s linear;
}