.App {
  margin: 0;
  padding: 0;
  background-color: wheat;
  background-size: cover;
  min-height: 60vh;
  position: relative;
  color: wheat;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.AppHeading {
  font-size: 4rem;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba((0), 0, 0, .2);
}

.sideBar {
  background-color: wheat;
}

@media (max-width: 768px) {
  .App {
    min-height: 30vh;
  }

  .AppHeading {
    font-size: calc(1.525rem + 3.3vw);
  }
}

@media (max-width: 991px) {
  .sideBar {
    backdrop-filter: blur(10px);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
